.footer {
  width: calc(100% - 20rem);
  font-family: inherit;
  font-size: 1.2rem;
  display: flex;
  text-shadow: 0 0.2px 0.2px rgba(0, 0, 0);
  margin: 8rem auto 4rem;

  @media (max-width: 1800px) {
    width: calc(100% - 10rem);
  }

  @media (max-width: 1400px) {
    width: calc(100% - 4rem);
  }

  @media (max-width: 800px) {
    margin: 4rem auto 2rem;
  }
}

.copyright {
  margin-right: 0.2rem;
}
