.footer {
  max-width: 87.5rem;
  font-family: inherit;
  padding: 2rem 4rem;
  font-size: 1.2rem;
  display: flex;
  text-shadow: 0 0.5px 0.5px rgba(0, 0, 0);

  @media only screen and (max-width: 600px) {
    text-shadow: none;
    padding: 0 2.6rem 1rem;
  }
}

.copyright {
  margin-right: 0.2rem;
}
