.container {
  //   background-color: antiquewhite;
  display: flex;
  width: calc(100% - 20rem);
  margin: 8rem auto;
  gap: 2rem;
  position: relative;
  align-items: flex-start;

  @media (max-width: 1800px) {
    width: calc(100% - 10rem);
  }

  @media (max-width: 1400px) {
    width: calc(100% - 4rem);
    gap: 0;
  }

  @media (max-width: 800px) {
    flex-direction: column-reverse;
    gap: 2rem;
    margin: 4rem auto;
  }
}

.left-container {
  //   background-color: palegreen;
  width: 50%;

  @media (max-width: 1400px) {
    width: 60%;
  }

  @media (max-width: 1100px) {
    width: 50%;
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.right-container {
  //   background-color: lightcoral;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  aspect-ratio: 1/1;
  gap: 1rem;
  justify-content: flex-end;

  @media (max-width: 1400px) {
    width: 40%;
    gap: 0.6rem;
  }

  @media (max-width: 1100px) {
    width: 50%;
  }

  @media (max-width: 800px) {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  & img:hover {
    transform: scale(110%);
  }
}

.largePic {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  position: relative;

  & img:hover {
    transform: none;
  }
}

.close {
  position: absolute;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  right: -0.6rem;
  top: -0.6rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.768);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.header {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @media (max-width: 1800px) {
    font-size: 3.6rem;
    margin-bottom: 0.6rem;
  }

  @media (max-width: 1400px) {
    font-size: 3rem;
    margin-bottom: 0;
  }
}

.description {
  font-size: 2rem;
  line-height: 2.4rem;
  text-shadow: 0 0.8px 0.8px rgba(0, 0, 0);

  @media (max-width: 1800px) {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
