.map {
  width: calc(100% - 20rem);
  height: 75vh;
  margin: 8rem auto;

  @media (max-width: 1800px) {
    width: calc(100% - 10rem);
  }

  @media (max-width: 1400px) {
    width: calc(100% - 4rem);
  }

  @media (max-width: 800px) {
    margin: 4rem auto;
  }
}
