.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 17;
}

.container {
  background-image: url("../img/modal.jpg");
  background-size: cover;
  width: 950px;
  height: 550px;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: 1rem;
}

.left-container {
  background-size: cover;
  width: 70%;
  background-color: beige;
}

.right-container {
  z-index: 25;
  /* background-color: antiquewhite; */
  width: 30%;
  padding: 0 1rem;
  position: relative;
}

.heading {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 5px;
}

.text {
  font-size: 1.2rem;
  /* background-color: beige; */
  padding: 5px;
  line-height: 1.1;
}

.close {
  font-size: 4rem;
  position: absolute;
  right: 0.8rem;
  top: -0.8rem;
  cursor: pointer;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: inherit;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  cursor: pointer;
}
