.quote {
  font-size: 6rem;
  max-width: 85rem;
  margin: 3rem auto 0;
  text-align: center;
  text-transform: uppercase;
  padding: 4rem 5rem;

  @media only screen and (max-width: 600px) and (orientation: portrait) {
    font-size: 3rem;
    padding: 0 1.4rem;
    line-height: 2.6rem;
  }

  @media (min-width: 601px) and (orientation: portrait) {
    font-size: 3.5rem;
    padding: 0 4rem;
    line-height: 2.8rem;
  }

  @media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    padding: 0 4rem 1rem;
    font-size: 4rem;
    line-height: 3.2rem;
  }
}
