.container {
  width: calc(100% - 20rem);
  margin: 8rem auto;
  display: flex;
  gap: 4rem;

  @media (max-width: 1800px) {
    width: calc(100% - 10rem);
  }

  @media (max-width: 1400px) {
    width: calc(100% - 4rem);
    gap: 2rem;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    margin: 4rem auto;
  }
}

.left-container {
  width: 50%;

  @media (max-width: 1800px) {
    width: 60%;
  }

  @media (max-width: 1000px) {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 800px) {
    width: 100%;
    display: initial;
  }

  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.img {
  height: 32rem;

  @media (max-width: 1400px) {
    height: 30rem;
  }

  @media (max-width: 1200px) {
    height: 25rem;
  }

  @media (max-width: 1000px) {
    height: 30rem;
  }

  @media (max-width: 800px) {
    height: 26rem;
  }

  @media (max-width: 650px) {
    height: 32rem;
  }
}

.video {
  height: 32rem;
  width: auto;
  float: right;

  @media (max-width: 1400px) {
    height: 30rem;
  }

  @media (max-width: 1200px) {
    height: 25rem;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  @media (max-width: 800px) {
    display: initial;
    height: 26rem;
  }

  @media (max-width: 650px) {
    height: 32rem;
  }
}

.text {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @media (max-width: 1400px) {
    font-size: 4rem;
  }

  @media (max-width: 1000px) {
    font-size: 3.6rem;
  }

  @media (max-width: 650px) {
    margin-bottom: 0;
  }
}

.right-container {
  width: 50%;

  @media (max-width: 1800px) {
    width: 40%;
  }

  @media (max-width: 1000px) {
    width: 50%;
  }

  @media (max-width: 800px) {
    width: 100%;
  }
}

.heading {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  line-height: 3rem;
  margin-top: 1rem;

  @media (max-width: 1400px) {
    font-size: 3rem;
    line-height: 2.6rem;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;

  @media (max-width: 1400px) {
    margin-top: 2rem;
  }

  @media (max-width: 1200px) {
    margin-top: 1rem;
    gap: 1rem;
  }
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.label {
  font-size: 2rem;
  text-shadow: 0 0.1px 0.1px rgba(0, 0, 0);
}

.input {
  padding: 0.6rem 0 0.6rem 0.6rem;
  width: calc(100% - 0.6rem);
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.input:focus {
  outline: none;
  border: 4px solid #4caf50;
}

.check {
  margin-right: 0.6rem;
  transform: scale(120%);
}

.check-text {
  font-size: 1.4rem;
  text-shadow: 0 0.4px 0.4px rgba(0, 0, 0);
}

.button {
  width: 100%;
  height: 2.4rem;
  font-family: inherit;
  font-size: 2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.button:hover {
  // background-color: rgb(2, 23, 145);
  background-color: rgb(145, 2, 35);
  transition: all 0.5s;
}

.message {
  font-size: 1.8rem;
  text-align: center;
  padding-top: 2rem;
  text-shadow: 0 0.3px 0.3px rgba(0, 0, 0);
}
