* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  background-image: url("./img/background.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "kathyhandwritingregular";
}

@font-face {
  font-family: "kathyhandwritingregular";
  src: url("./fonts/kathyhandwriting-regular-webfont.woff2") format("woff2"),
    url("./fonts/kathyhandwriting-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
