* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.app {
  font-family: "kathyregular";
}

@font-face {
  font-family: "kathyregular";
  src: url("fonts/kathy-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
