body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  margin: 5rem auto;
  max-width: 82rem;
  margin: 0 4rem;
  height: 75vh;

  @media (max-width: 600px) {
    width: calc(100% - 5rem);
    height: 50vh;
    margin: 4rem auto;
  }

  @media (min-width: 601px) and (orientation: portrait) {
    width: calc(100% - 9rem);
    height: 60vh;
    margin: 3rem auto;
  }
}
